
.{
    padding: 0%;
    margin: 0%;
  
}

.form_heading{
    margin: 20px;
    padding :20px;
    text-align: center;
    background-color: rgb(78, 177, 184);
}
.form{
    margin: 20px;
    padding :20px;
    text-align: center;
    background-color: rgb(162, 247, 188);
}

